<h1>Name: <%= @employee.name %> </h1>
<h2>Department: <%= @employee.department.name %> </h2>
<ol>
  <% @employee.sort_by_age.each do |ticket| %>
  <li>Issue: <%= ticket.subject %> Age: <%= ticket.age %></li>
  <% end %>
</ol>
<h3>Add a ticket:</h3>
<%= form_with url: "/employees/#{@employee.id}/employeetickets", method: :post do |f| %>
  <%= f.label "Enter the ID of a Ticket " %>
  <%= f.number_field :ticket_id %>
  <%= f.submit "Submit" %>
<% end %>
